.wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.mapContainer {
  flex: 1 1 auto;
  margin: 50px;
}

.mapImg {
  height: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}