.nadeForm {
  background-color: green;
}

.nadeFormImgs {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nadeFormImgList {
  display: flex;
  align-items: end;
}

.nadeFormImg {
  position: relative;
}

.nadeFormImgButton {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nadeFormImgRightButton {
  left: auto;
  right: 0;
}

.nadeFormImgDeleteButton {
  position: absolute;
  display: inline-block;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
}

.nadeFormImg:hover .nadeFormImgButton {
  display: inline-block;
}

.nadeFormImgPic {
  max-width: 100px;
}